main {
    display: grid;
    grid-template-columns: 600px 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
    width: 70dvw;
    min-height: 100dvh;
    margin-inline: auto;
    box-shadow: 0px 0px 50px var(--body-shadow);
    transition: box-shadow 0.4s ease;
    background-color: var(--accent-white);
}

.theme-button {
    color: var(--text-black);
    position: absolute;
    z-index: 1000;
    top: 80px;
    left: 12px;
    cursor: pointer;
    transition: color 0.4s ease;
}

main h1 {
    font-size: var(--big-less-font);
    font-family: var(--important-font);
    color: var(--text-black);
}

main img {
    box-shadow: 0px 0px 20px var(--body-shadow);
    border: 1px solid black;
    height: 400px;
}

.text {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: var(--accent-yellow);
    justify-content: center;
    padding: 0px 80px;
    height: 100dvh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main p {
    font-size: var(--small-font);
    font-family: var(--lesser-font);
    color: var(--text-black);
    margin-bottom: 20px;
    line-height: 32px;
}

main a {
    color: var(--text-black);
}

@media (width < 1500px) {
    main {
        width: auto;
        display: flex;
        gap: 40px;
        flex-direction: column;
        padding-top: 150px;
    }

    .text {
        justify-content: flex-start;
        height: auto;
        padding-block: 50px;
    }

    .navbar, footer {
        width: 100dvw;
    }
}

@media (width < 800px) {
    main p {
        min-width: fit-content;
    }

    main {
        padding: 130px 0px 0px 0px;
    }

    .text {
        padding-inline: 20px;
    }
}