main {
    position: relative;
    width: 70dvw;
    margin-inline: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    padding: 80px 150px 20px 150px;
    box-shadow: 0px 0px 50px var(--body-shadow);
    transition: box-shadow 0.4s ease;
    background-color: var(--accent-white);
    min-height: 100dvh;
}

.theme-button {
    color: var(--text-black);
    position: absolute;
    z-index: 1000;
    top: 80px;
    left: 12px;
    cursor: pointer;
    transition: color 0.4s ease;
}

main h1 {
    font-size: var(--big-less-font);
    font-family: var(--important-font);
    color: var(--text-black);
}

main img {
    max-width: 330px;
    max-width: 330px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px var(--body-shadow);
}

main p {
    font-size: var(--small-font);
    font-family: var(--lesser-font);
    color: var(--text-black);
}

@media (width < 1152px) {
    main {
        width: auto;
    }
}

@media (width < 800px) {
    main {
        padding: 90px 50px;
    }
}