.wrapper {
  position: relative;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100dvh;
}

.content-left,
.content-right {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 75px 100px;
}

.content-left {
  background-color: var(--accent-yellow);
  color: var(--text-black);
}

.content-left h1 {
  font-family: var(--important-font);
  font-size: var(--big-font);
  margin-bottom: 35px;
  line-height: 90px;
}

.content-left p {
  font-family: var(--lesser-font);
  margin-bottom: 20px;
  line-height: 32px;
  font-size: var(--small-font);
}

.svg-links {
  display: flex;
  gap: 26px;
  align-items: center;
}

.svg-links a,
.navigation-buttons a {
  text-decoration: none;
  color: var(--accent-black);
}

.svg-links svg {
  cursor: pointer;
  fill: var(--accent-black);
  width: 30px;
  height: 30px;
}

.svg-links svg:hover {
  opacity: 0.6;
}

.navigation-buttons a:link,
.navigation-buttons a:visited,
.navigation-buttons a:hover,
.navigation-buttons a:active {
  all: unset;
}

.content-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  background-color: var(--accent-white);
}

.content-right h1 {
  font-family: var(--important-font);
  font-size: var(--big-less-font);
  color: var(--text-black);
}

.content-section {
  display: flex;
  flex-direction: column;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.project-content {
  display: grid;
  grid-template-columns: 1fr 150px;
}

@keyframes fade-in-content {
  to {
    scale: 1;
    opacity: 1;
  }
}

.project-info {
  position: relative;
  display: flex;
  flex-direction: column;
}

.project-info svg {
  transition: opacity 0.2s ease;
  stroke: var(--accent-black);
}

.project-info a {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}

.project-content h2 {
  position: relative;
  font-family: var(--important-font);
  font-size: var(--mid-font);
  color: var(--text-black);
  grid-area: header;
  margin-bottom: 8px;
}

.project-content h2::before {
  content: "";
  position: absolute;
  top: 85%;
  background-color: var(--accent-black);
  height: 5px;
  width: 0px;
  transition: 0.4s width ease;
}

.project-content a:hover h2::before {
  width: 100%;
}

.project-content p {
  font-family: var(--lesser-font);
  color: var(--text-black);
  margin-bottom: 20px;
  padding-right: 15px;
  line-height: 25px;
  grid-area: text;
}

.project-content img {
  width: 155px;
  height: 155px;
  align-self: center;
  border-radius: 10px;
}

.pills {
  display: flex;
  gap: 10px;
  font-family: var(--lesser-font);
  font-weight: 800;
  grid-area: pill;
  flex-wrap: wrap;
}

.pill {
  background-color: var(--accent-black);
  color: var(--text-white);
  padding: 5px 20px;
  border-radius: 10px;
}

.skills-wrapper li {
  font-family: var(--lesser-font);
  font-size: var(--small-font);
  color: var(--text-black);
  line-height: 40px;
}

.theme-button {
  color: var(--text-black);
  cursor: pointer;
}

.theme-button svg {
  color: var(--accent-black);
}

.theme-button svg:hover {
  opacity: 0.6;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  gap: 40px;
  padding-inline: 50px;
  font-family: var(--lesser-font);
  font-size: var(--small-font);
  font-weight: bold;
}

.navigation-buttons li {
  position: relative;
  list-style: none;
  cursor: pointer;
}

.navigation-buttons li::before {
  content: "";
  position: absolute;
  top: 105%;
  background-color: var(--accent-black);
  height: 5px;
  width: 0px;
  transition: 0.4s width ease;
}

.navigation-buttons li:hover::before {
  width: 100%;
}

.intro-container {
  margin-block: auto;
}

.right-shown {
  animation: fadeIn 0.5s forwards ease-out;
}

.left-shown {
  animation: rollIn 0.5s forwards ease-out;
}

.navbar-img {
  width: 52px;
  /* padding: 4px; */
  /* background-color: var(--accent-black); */
}

.none {
  display: none;
}

.sun path {
  fill: rgb(246, 225, 41);
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-wrapper h1 {
  margin-bottom: 30px;
}

.skill-section {
  display: grid;
  grid-template-columns: 280px 1fr;
  font-family: var(--lesser-font);
  color: var(--text-black);
  margin-bottom: 50px;
}

.skill-detail {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 10px;
}

.skill-pills {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  background-color: var(--accent-black);
  padding: 10px;
  border-radius: 10px;
}

.skill-pills li {
  all: unset;
  font-family: var(--lesser-font);
  font-size: var(--small-font);
  font-weight: bold;
  background-color: var(--accent-white);
  color: var(--text-black);
  padding: 6px 25px;
  border-radius: 12px;
  transition: flex-grow 0.4s ease-out;
  text-align: center;
}

.skill-pills li:hover {
  flex-grow: 1;
}

.front-end-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.skill-detail svg {
  width: 45px;
  height: 45px;
}

.skill-detail h2 {
  align-self: flex-start;
}

.language-pills {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--accent-black);
  padding: 10px;
  border-radius: 10px;
}

.language-pills li {
  all: unset;
}

.language-pills li:hover {
  transform: scale(1.1);
}

.language-pills svg {
  width: 140px;
  height: 80px;
}

.about-container {
  display: grid;
}

.about-container h1 {
  margin-bottom: 30px;
}

.about-container p {
  font-family: var(--lesser-font);
  font-size: var(--small-font);
  color: var(--text-black);
  margin-bottom: 25px;
  line-height: 42px;
  letter-spacing: 2px;
}

.about-container img {
  width: 380px;
  margin-bottom: 40px;
  justify-self: center;
}

.about-container span {
  background-color: var(--accent-black);
  color: var(--text-white);
}

.project-left {
  margin-block: auto;
}

.image-gallery img {
  width: 500px;
  height: 500px;
  border: 10px solid var(--image-gallery);
}

.image-gallery {
  display: flex;
  gap: 20px;
  width: 700px;
  height: 520px;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-black) var(--accent-yellow);
}

.blog-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  font-family: var(--lesser-font);
  background-color: var(--accent-black);
  color: var(--text-white);
  padding: 10px;
}

.blog-skills-container {
  grid-column: 1 / -1;
}

.blog-details h3 {
  font-size: var(--smaller-font);
  font-weight: normal;
  margin-bottom: 7px;
}

.blog-details p {
  font-weight: bold;
  font-size: var(--small-font);
}

.blog-details a:link,
.blog-details a:visited,
.blog-details a:hover,
.blog-details a:active {
  color: var(--text-white);
  font-weight: bold;
  font-size: var(--small-font);
}

.blog-content p {
  font-family: var(--lesser-font);
  font-size: var(--small-font);
  color: var(--text-black);
  margin-bottom: 40px;
  line-height: 32px;
  letter-spacing: 1.5px;
}

.blog-content a:link,
.blog-content a:visited,
.blog-content a:hover,
.blog-content a:active {
  color: var(--text-black);
  font-weight: bold;
  font-style: italic;
}

.blog-content h2 {
  font-family: var(--lesser-font);
  font-size: var(--mid-font);
  color: var(--text-black);
  margin-bottom: 17px;
}

.blog-skills {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
}

.blog-skills p {
  border-right: 3px solid var(--accent-white);
  padding-right: 14px;
}

.blog-skills p:first-child {
  padding-left: 0;
}

.error {
  font-family: var(--important-font);
  color: var(--text-black);
  margin-block: auto;
}

.form-container {
  display: grid;
  gap: 30px;
}

.form-group {
  display: grid;
  width: 300px;
  gap: 20px;
}

.form-group label {
  font-family: var(--lesser-font);
  font-size: var(--small-font);
  color: var(--text-black);
}

.form-group input,
.form-group textarea {
  padding: 5px;
  border: 3px solid var(--contact-form-border);
  font-family: var(--lesser-font);
  font-size: var(--smaller-font);
  color: var(--text-black);
  background-color: var(--contact-form-background);
  caret-color: var(--accent-black);
}

.form-group textarea {
  resize: none;
  height: 120px;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.send {
  font-family: var(--lesser-font);
  font-size: var(--small-font);
  color: var(--text-white);
  background-color: var(--accent-black);
  width: 120px;
  padding: 8px 5px;
  border: none;
  border-radius: 6px;
}

.send:hover {
  background-color: var(--send-hover);
  cursor: pointer;
}

.contact-container {
  border: 7px solid var(--accent-black);
  border-radius: 10px;
  padding: 20px;
}

.contact-container p {
  color: var(--text-black);
  font-family: var(--lesser-font);
  font-size: var(--small-font);
  margin-bottom: 40px;
}

.code {
  font-family: monospace;
  background-color: var(--accent-black);
  color: var(--text-white);
  padding-inline: 8px;
}

.content-right:has(.error-question) {
  place-content: center;
}

.error-question {
  place-self: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rollIn {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}

@media (width < 1152px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0px;
    width: auto;
  }

  .theme-button {
    display: flex;
  }

  .content-left,
  .content-right {
    height: fit-content;
  }

  .content-left {
    padding: 35px 80px 52px 80px;
    gap: 60px;
  }

  .content-right {
    overflow-y: visible;
    padding: 30px 80px 80px 80px;
  }

  .image-gallery {
    width: auto;
  }
}

@media (width < 800px) {
  .wrapper {
    width: auto;
  }

  .content-right,
  .content-left {
    padding-inline: 20px;
  }

  .skill-section {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .front-end-imgs {
    flex-direction: row;
  }
}
